@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IranSans';
  src: local('IranSans'),
       url('./fonts/IRANSansWeb_UltraLight.ttf') format('truetype');
}

/* استایل‌های جدید برای مخفی کردن اسکرول‌بار */
html {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari, Opera */
}

body {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE & Edge */


}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none; /* Chrome, Safari, Opera */
}

/* استایل‌های موجود شما */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

#root::-webkit-scrollbar {
  display: none;
}

#root {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


/* اضافه کردن این استایل‌ها */
html, body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; /* برای iOS */
  scrollbar-width: none;
  -ms-overflow-style: none;
  height: 100%;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
  background: transparent !important; /* برای iOS */
  -webkit-appearance: none !important;
}

@supports (-webkit-touch-callout: none) {
  /* استایل مخصوص iOS */
  body {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: none;
  }
}

/* این کلاس رو به div اصلی اضافه کنید */
.ios-scroll {
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.ios-scroll::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
}





/*{برای غیر فعال کردن سلکت*/
* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}